service: api-gateway-talk

frameworkVersion: "3.37.0"

plugins:
  - serverless-python-requirements

configValidationMode: error

package:
  individually: true
  patterns:
    - "!node_modules/**"
    - "!.vscode/**"
    - "!package*.json"
    - "!venv/**"
    - "!README.md"
    - "!.gitignore"

provider:
  name: aws
  region: ap-south-1
  deploymentMethod: direct
  runtime: python3.10
  memorySize: 256
  timeout: 25
  versionFunctions: false
  deploymentBucket:
    blockPublicAccess: true
  logRetentionInDays: 14
  environment:
    DYNAMODB_TABLE_NAME: github_repos
    DYNAMODB_USERS_TABLE_NAME: users
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "dynamodb:Scan"
            - "dynamodb:PutItem"
            - "dynamodb:GetItem"
          Resource: 
            - "arn:aws:dynamodb:ap-south-1:${self:custom.accountId}:table/github_repos"
            - "arn:aws:dynamodb:ap-south-1:${self:custom.accountId}:table/users"

  httpApi:
    authorizers:
      customAuthorizer:
        type: request
        functionName: authorizerFunc
        identitySource:
          - $request.header.Authorization
        enableSimpleResponses: true
        resultTtlInSeconds: 300

custom:
  accountId: 580345014258
  lambda_layers: arn:aws:lambda:ap-south-1:${self:custom.accountId}:layer:api_gateway_dependencies_layer:4

functions:
  saveGitHubRepositories:
    handler: lambda_function.lambda_handler
    name: save-github-repositories
    module: save_github_repositories
    environment:
      GITHUB_ACCESS_TOKEN: ${ssm:/github_token}
    layers:
      - ${self:custom.lambda_layers}
    events:
      - httpApi:
          method: POST
          path: /save-repositories
          authorizer:
            name: customAuthorizer
  getGitHubRepositories:
    handler: lambda_function.lambda_handler
    name: get-github-repositories
    module: get_github_repositories
    layers:
      - ${self:custom.lambda_layers}
    events:
      - httpApi:
          method: GET
          path: /get-repositories
          authorizer:
            name: customAuthorizer
  authorizerFunc:
    handler: lambda_function.lambda_handler
    name: lambda-authorizer
    module: lambda_authorizer
